<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Hasaki.vn | Mỹ Phẩm &amp; Clinic</title>
    <link rel="preload" href="/images/content-first-page.png" as="image" media="(max-width: 600px)">
    <meta name="description"
          content="Hệ Thống Chi Nhánh Toàn Quốc ✓ +600 Thương Hiệu ✓+5000 Sản Phẩm Chính Hãng ✓ Giá Luôn Tốt Mọi Thời Điểm ✓Giao Nhanh Miễn Phí 2H (Trễ Tặng 100k)">
    <meta name="keywords"
          content="Hasaki.vn, mua mỹ phẩm chính hãng, son môi, chăm sóc da, chăm sóc tóc,trang điểm môi, chăm sóc cơ thể, kem dưỡng da, sữa rửa mặt, xịt khoáng, giá tốt nhất thị trường.">

    <!--<meta name="robots" content="noindex, nofollow"/>-->
    <meta name="robots" content="index, follow">
    <meta name="facebook-domain-verification" content="huj1wbc39ou23d4vb3szhjeizrdm9i">

    <meta property="og:title" content="Mua sắm mỹ phẩm chính hãng – Hasaki luôn bán đúng giá | Hasaki.vn">
    <meta property="og:description"
          content="Hệ Thống Chi Nhánh Toàn Quốc ✓ +600 Thương Hiệu ✓+5000 Sản Phẩm Chính Hãng ✓ Giá Luôn Tốt Mọi Thời Điểm ✓Giao Nhanh Miễn Phí 2H (Trễ Tặng 100k)">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Hasaki.vn">
    <meta property="fb:app_id" content="1028207553936734">
    <link rel="stylesheet" type="text/css" media="all" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-0.1.314.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-0.1.326.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-0.0.97.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-0.0.100.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-v4-0.0.97.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-v4-header-footer-0.0.97.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/new.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css2.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hasaki-v4-header-footer-0.0.100.min.css">
    <script src="~/Content/hasaki-app-0.1.314.min.js"></script>
    <script src="~/Content/hasaki_v4-0.0.73.js"></script>
    <script src="~/Content/hasaki_v3-0.0.73.js"></script>
    <script src="~/Content/hasaki-google-0.0.26.min.js"></script>
    <script src="~/Content/hasaki-base-0.0.8.min.js"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 15px;
        }
    </style>
    <link rel="stylesheet" href="/css/OneSignalSDKStyles.css?v=2">
</head>

<body data-container="body" class="desktop-v2 bg_site_1 home-page home-page-indexV4 module-index" style="">
    <div id="fb-root" class=" fb_reset fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
    </div>
    <div id="hsk-chat-root" style="position: fixed; right: 40px; bottom: 25px; width: 85px; z-index: 100;">
        <div id="main-chat-container" class="_container_12bw6_16" style="transform: translateX(100vw);"></div><img class="_icon_iq4kl_47 loading" src="https://wsc.hasaki.vn/assets/customer_icons/app_icon.svg" width="60px"
                                                                                                                   height="60px" alt="" data-was-processed="true">
        <div style="display: none;">
            <img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt=""><img alt="">
        </div>
    </div>
    <div id="header_wap">
        <a href="" onclick="window.history.back();" class="logo_site_detail material-ripple">
            <img class="icon_back" src="https://hasaki.vn/wap-static/images/graphics/back_200x200.svg">
        </a>

        <div id="cart_item_header" class="material-ripple">
            <a href="https://hasaki.vn/checkout/cart/">
                <img src="https://hasaki.vn/wap-static/images/graphics/cart_top.svg"><span class="number_cart">0</span>
            </a>
        </div>
    </div>
    <div id="v3_header">
        <div id="top-bar-banner" style="position: relative; z-index: 2; height: 50px; margin-bottom: 10px;">
            <a href="https://hasaki.vn/campaign/khai-truong-chi-nhanh-136?utm_source=facebook&amp;utm_medium=cpc&amp;utm_campaign=khai_truong_136&amp;utm_term=mp_khai_truong_136_29102023">
                <div class="top-bar-wrap"
                     style="background-color: #fae1ef ;height: 50px;background-repeat: no-repeat;background-position: center center;background-size: auto 50px;background-image: url(https://media.hcdn.vn/hsk/1698230969top-136.jpg);">
                </div>
            </a>
        </div>
        <div class="container relative">
            <div class="logo_site">
                <a href="/" class="logo">
                    <img src="https://hasaki.vn/v3/images/graphics/logo_site.svg" alt=""
                         class="loading" data-was-processed="true">
                </a>
            </div>
            <div id="search_site" class="search_site_v4">
                <form class="form minisearch" id="search_mini_form" action="@Url.Action("Index","Home")" method="get">
                    <div class="block_demo_search width_common">
                        <a href="https://hasaki.vn/danh-muc/chong-nang-da-mat-c11.html?utm_medium=seo&amp;utm_source=destop_search&amp;utm_campaign=kemchongnang_push_29032022">
                            Kem
                            Chống Nắng
                        </a><a href="https://hasaki.vn/danh-muc/tay-trang-c37.html?utm_medium=seo&amp;utm_source=destop_search&amp;utm_campaign=taytrang_push_29032022">
                            Tẩy
                            Trang
                        </a><a href="https://hasaki.vn/danh-muc/toner-c1857.html?utm_medium=seo&amp;utm_source=destop_search&amp;utm_campaign=toner_push_29032022">Toner</a><a href="https://hasaki.vn/danh-muc/sua-rua-mat-c19.html?utm_medium=seo&amp;utm_source=top_keyword&amp;utm_campaign=suaruamat_push_29032022">
                            Sữa
                            Rửa Mặt
                        </a><a href="https://hasaki.vn/danh-muc/tay-te-bao-chet-da-mat-c35.html?utm_medium=seo&amp;utm_source=top_keyword&amp;utm_campaign=taytebaochet_push_29032022">
                            Tẩy
                            tế bào chết
                        </a><a href="https://hasaki.vn/tag/retinol.html?utm_medium=seo&amp;utm_source=top_keyword&amp;utm_campaign=Retinol_push_18072022">Retinol</a>
                    </div>
                    <div class="v3_block_search_header">
                        <div class="relative width_common">
                            <div class="v3_block_input_search width_common">
                                <div class="control">
                                @using (Html.BeginForm("Index","Home"))
                                {
                                    @Html.TextBox("SearchString", "", new {@class = "form-control", placeholder = "Tìm kiếm" })
                                }
                                </div>

                            </div>
                            <div id="block_suggest_search" class="block_suggest_search" style="display:none;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="v3_inf_right_header">
                <div class="item_header item_login ">
                    <a href="#" class="icon_header">
                        <img src="https://hasaki.vn/images/graphics/icon_header_2.svg"
                             alt="" class="loading" data-was-processed="true">
                    </a>
                    @Html.Action("UserPatial","LoginResgis")
                </div>

                <div class="item_header item_header_hethong">
                    <a target="_blank" href="https://hotro.hasaki.vn/he-thong-cua-hang.html"
                       class="icon_header relative" rel="nofollow">
                        <img src="https://hasaki.vn/images/graphics/icon_header_store.svg" alt="" class="loading"
                             data-was-processed="true">
                    </a>
                    <a target="_blank" href="https://hotro.hasaki.vn/he-thong-cua-hang.html" rel="nofollow"
                       class=" txt_header_right">Hệ thống<br>cửa hàng</a>
                </div>
                <div class="item_header">
                    <a target="_blank" href="https://hotro.hasaki.vn/" class="icon_header" rel="nofollow">
                        <img src="https://hasaki.vn/images/graphics/icon_header_3.svg" alt="" class="loading"
                             data-was-processed="true">
                    </a>
                    <a target="_blank" href="https://hotro.hasaki.vn/" class=" txt_header_right" rel="nofollow">
                        Hỗ trợ
                        <br> khách hàng
                    </a>
                </div>
                <div class="item_header item_header_giohang minicart-wrapper">
                    @Html.Action("TongSLPartial","GioHang")
                </div>
            </div>
        </div>
    </div>
    <div id="top_bar_hasaki" class="width_common">
        <div class="container">
            <div id="hamber_menu" class="relative">
                <a class="txt_color_1 menu_hamber" href="#">
                    DANH MỤC
                </a>
                @Html.Action("DanhMucPartial", "Home")
            </div>

            <div class="item_sub_menu_bar left">
                <a href="/deals-dang-dien-ra.html?product_list_order=topsale">Hasaki deals</a>
                <a href="/campaign/wow">Hot deals</a>
                <a href="/thuong-hieu">thương hiệu</a>
                <a href="/hang-moi-ve.html?sort=position">hàng mới về</a>
                <a href="/san-pham-ban-chay.html?sort=topsale">bán chạy</a>
                <a href="/clinic.html">clinic &amp; spa </a>
            </div>
            @if (Session["Name1"] == null)
            {
                <div class="right block_app_topbar">
                    <div class="relative check_donhang left">
                        <form action="@Url.Action("TimDonHang","Home")" method="get" id="quick-checking-order" novalidate="novalidate">
                            @using (Html.BeginForm("TimDonHang", "Home"))
                            {
                                <a href="javascript:;" id="dLabel" class="btn_top_right" data-toggle="dropdown" aria-expanded="false">
                                    Tra cứu đơn hàng
                                </a>
                                <div class="block_input_order_checking dropdown-menu" aria-labelledby="dLabel" style="left: auto;">
                                    <span class="arrow_sub_topbar"><span class="icon_carret_down"></span></span>
                                    <div class="form-group">
                                        <div class="relative">
                                            <input type="text" class="form-control" id="order_id" name="iddonhang" placeholder="Nhập mã đơn hàng" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="relative">
                                            <input type="text" class="form-control" id="emailPhone" name="emailkh" placeholder="Nhập email hoặc số điện thoại" value="">
                                        </div>
                                    </div>
                                    <div class="text-center"> <input type="submit" class="btn btn_site_1 btnCheckOrder" value="Kiểm tra đơn hàng"></div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>


    <div id="v3_wrapper_container" class="width_common">

        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div id="wrapper_footer" class="width_common">
        <div class="container">
            <div class="block_top_footer width_common">
                <div class="col-lg-8 col-md-8 col-sm-12">

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="link_footer">
                                <div class="item_link_footer">
                                    <h4 class="tt_footer text-uppercase">hỗ trợ khách hàng</h4>
                                </div>
                                <div class="item_link_footer">
                                    <div class="txt_color_2">Hotline: <strong>1800 6324</strong></div>
                                    (miễn phí , 08-22h kể cả T7, CN)
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/" target="_blank"
                                       class="txt_link_hasaki">Các câu hỏi thường gặp</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/lien-he.html" target="_blank"
                                       class="txt_link_hasaki">Gửi yêu cầu hỗ trợ</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/huong-dan-dat-hang.html"
                                       target="_blank" class="txt_link_hasaki">Hướng dẫn đặt hàng</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/phi-van-chuyen.html" target="_blank"
                                       class="txt_link_hasaki">Phương thức vận chuyển</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/doi-tra-hoan-tien.html"
                                       target="_blank" class="txt_link_hasaki">Chính sách đổi trả</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="link_footer">
                                <div class="item_link_footer">
                                    <h4 class="tt_footer text-uppercase">Về hasaki.vn</h4>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/gioi-thieu-hasaki.html"
                                       target="_blank" class="txt_link_hasaki">Giới thiệu Hasaki.vn</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow"
                                       href="https://hotro.hasaki.vn/viec-lam.html" target="_blank"
                                       class="txt_link_hasaki">Tuyển Dụng</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/chinh-sach-bao-mat.html"
                                       target="_blank" class="txt_link_hasaki">Chính sách bảo mật</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hotro.hasaki.vn/dieu-khoan-su-dung.html"
                                       target="_blank" class="txt_link_hasaki">Điều khoản sử dụng</a>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow"
                                       href="https://hotro.hasaki.vn/lien-he.html" target="_blank"
                                       class="txt_link_hasaki">Liên hệ</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">

                            <div class="link_footer">
                                <div class="item_link_footer">
                                    <h4 class="tt_footer text-uppercase">Hợp tác &amp; Liên kết</h4>
                                </div>
                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hasaki.vn/spa.html"
                                       class="txt_link_hasaki">https://hasaki.vn/clinic</a>
                                </div>

                                <div class="item_link_footer">
                                    <a rel="nofollow" href="https://hasaki.vn/cam-nang.html"
                                       class="txt_link_hasaki">Hasaki cẩm nang</a>
                                </div>
                            </div>
                            <div class="block_social_footer space_bottom_20">
                                <div class="item_social_footer">
                                    <a href="https://www.facebook.com/Hasaki.vn" rel="nofollow">
                                        <img alt=""
                                             src="https://hasaki.vn/v3/images/icons/fb.svg" class="loading"
                                             data-was-processed="true">
                                    </a>
                                </div>
                              
                                <div class="item_social_footer">
                                    <a href="https://www.instagram.com/hasakibeauty/" rel="nofollow">
                                        <img alt=""
                                             src="https://hasaki.vn/v3/images/icons/instagram.svg" class="loading"
                                             data-was-processed="true">
                                    </a>
                                </div>
                            </div>

                            <div class="item_link_footer">

                            </div>
                            <div class="block_thanhtoan_footer">
                                <h4 class="tt_footer text-uppercase">Thanh toán</h4>
                                <img alt="" src="https://hasaki.vn/v3/images/icons/mastercard.svg" class="loading"
                                     data-was-processed="true">
                                <img alt="" src="https://hasaki.vn/v3/images/icons/visa.svg" class="loading"
                                     data-was-processed="true">
                                <img alt="" src="https://hasaki.vn/v3/images/icons/atm.svg" class="loading"
                                     data-was-processed="true">
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="block newsletter space_bottom_20">
                        <div class="title space_bottom_10 text-uppercase">Cập nhật thông tin khuyến mãi</div>
                        <div class="content">
                            <form id="formSubscribe" class="form subscribe space_bottom_10" novalidate="">
                                <div class="block_input_news_letter relative">
                                    <input type="input" name="" class="input_news_letter" placeholder="email của bạn">
                                    <button class="btn_newsletter">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="block_down_app_footer width_common">
                        <div class="thumb_qr_code">
                            <img alt="" src="https://hasaki.vn/v3/images/graphics/qr_download_app.svg" class="loading"
                                 data-was-processed="true">
                        </div>
                        <div class="block_down_app_sub">
                            <a href="https://itunes.apple.com/us/app/hasaki-vn/id1173985273?ls=1&amp;mt=8"
                               class="item_download_app">
                                <img alt="" src="https://hasaki.vn/v3/images/icons/dl_apple.svg" class="loading"
                                     data-was-processed="true">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=vn.hasaki.buyer"
                               class="item_download_app icon_google">
                                <img alt="" src="https://hasaki.vn/v3/images/icons/dl_google.svg" class="loading"
                                     data-was-processed="true" height="23">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line_footer main_footer">
            </div>
        </div>
    </div>
</body>

</html>