
@{
    ViewBag.Title = "Regis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Regis", "LoginResgis"))
{
    <div id="lg_login">
        <div class="sub_login">
            <div class="main_content_sub_login">
                <h2 style="text-align: center">ĐĂNG KÝ</h2>
                <h2 style="color: red;">@ViewBag.ThongBao</h2>
                <div class="block_more_login">
                    <form id="form-head-login" action="https://hasaki.vn/login" method="post" novalidate="novalidate">
                        <input name="form_key" type="hidden" value="9lB2QzSyHmzVefcW">
                        <div class="showMessageError"></div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="relative">
                                <label for="email">Email:</label>
                                @Html.TextBox("Email", null, new
                           {
                               @class = "form-control",
                               @id =
                               "email",
                               @type = "email",
                               required = "required"
                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="relative">
                                <label for="tenkhachhang">Tên của bạn:</label>
                                @Html.TextBox("TenKhachHang", null, new
                           {
                               @class = "form-control",
                               @id =
                               "tenkhachhang",
                               @type = "text",
                               required = "required"
                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="relative">
                                <label for="matkhau1">Mật khẩu:</label>
                                @Html.Password("MatKhau1", null, new
                           {
                               @class = "form-control",
                               @id =
                               "matkhau1",
                               @type = "password",
                               required = "required"
                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="relative">
                                <label for="matkhau2">Nhập lại mật khẩu:</label>
                                @Html.Password("MatKhau2", null, new
                           {
                               @class = "form-control",
                               @id =
                               "matkhau2",
                               @type = "password",
                               required = "required"
                           })
                            </div>
                        </div>
                        <button type="submit" class="btn btn_site_1">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}